<!DOCTYPE html>
<html>
  <head>
    {% include 'includes/header.html' %}
    <script>
      function checkUploadAction() {
        if (document.getElementById("realCheck").checked) {
          document.getElementById("uploadForm").action = "/upload?r=1"
        } else {
          document.getElementById("uploadForm").action = "upload"
        }
      }
      </script>
  </head>
  <body>
  {% include 'includes/navigation.html' %}

  <h2>Upload</h2>

  Servers:
  <ul>
    {% for serverName, serverUrl in servers.items() %}
      <li>{{serverName}}: {{serverUrl}}</li>
    {% endfor %}
  </ul>

  Allowed extensions: 
  <ul>
    {% for ext in extensions %}
    <li>.{{ext}}</li>
    {% endfor %}
  </ul>
  <p>
    * Zip files can be used to upload multiple files (all contained files must also be in allowed extensions), and to upload lnk files.
  </p>
  <p>
    All uploads will be stored. All requests are logged. 
    Defender sample submission is disabled.
    Use at your own risk. Do not misuse this service. 
  </p>
  <p>
    At the end, bookmark the link of your file analysis. It is random, and not listed.
  </p>
  <br>

  <form method=post enctype=multipart/form-data action=/upload id="uploadForm" onSubmit="checkUploadAction()">
    <div class="mb-3">
      <input class="form-control" type=file name=file>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" type=submit value=Upload>Upload</button>
    </div>
  </form>
  <div class="form-check">
    <label><input class="form-check-input" type=checkbox id="realCheck">Realistic Scan for Initial Access Files</label>
  </div>
</body>
</html>